name: CI

on:
  push:
    branches: ['**']
  pull_request:

jobs:
  init:
    name: "Init step"
    runs-on: ubuntu-latest
    outputs:
      docker_files: ${{ steps.collect_docker.outputs.docker_files }}
      module_dirs: ${{ steps.collect_docker.outputs.module_dirs }}
      modules_for_tests: ${{ steps.collect_modules_tests.outputs.modules_for_tests }}

    steps:
      - uses: actions/checkout@v4
      - name: Collect Dockerfiles and module directories to build
        id: collect_docker
        run: |
          files=$(git ls-files '*/Dockerfile')
          if [ -z "$files" ]; then
            echo "docker_files=[]" >> "$GITHUB_OUTPUT"
            echo "module_dirs=[]" >> "$GITHUB_OUTPUT"
            exit 0
          fi
          docker_files=$(printf '%s\n' "$files" | jq -R -s -c 'split("\n")[:-1]')
          module_dirs=$(printf '%s\n' "$files" | xargs -n1 dirname | sort -u | jq -R -s -c 'split("\n")[:-1]')
          echo "docker_files=$docker_files" >> "$GITHUB_OUTPUT"
          echo "module_dirs=$module_dirs" >> "$GITHUB_OUTPUT"
      - name: Init modules for Tests
        id: collect_modules_tests
        run: |
          modules_for_tests='["api-gateway","frontend"]'
          echo "modules_for_tests=$modules_for_tests" >> "$GITHUB_OUTPUT"

  tests:
    name: Run Unit Tests
    needs: init
    runs-on: ubuntu-latest
    if: ${{ needs.init.outputs.modules_for_tests != '[]' }}
    strategy:
      fail-fast: false
      matrix:
        module: ${{ fromJson(needs.init.outputs.modules_for_tests) }}
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            ${{ matrix.module }}
          sparse-checkout-cone-mode: false
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: ${{ matrix.module }}/package-lock.json
      - name: Install
        run: npm ci
        working-directory: ${{ matrix.module }}
      - name: Run unit tests
        run: npm run test:unit
        working-directory: ${{ matrix.module }}

  validate:
    name: Validate files
    runs-on: ubuntu-latest
    needs: init
    if: ${{ needs.init.outputs.docker_files != '[]' }}
    strategy:
      fail-fast: false
      matrix:
        dockerfile: ${{ fromJson(needs.init.outputs.docker_files) }}
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            ${{ matrix.dockerfile }}
          sparse-checkout-cone-mode: false
      - name: Lint Dockerfile
        run: docker run --rm -i hadolint/hadolint hadolint --failure-threshold error - < "${{ matrix.dockerfile }}"
      - name: Debug
        run: ls -l
